#main{
  background:url("images/villagebg.jpg");
  height:650px;
  background-size:100% 100%;
  position:relative;
  background-position:center center;
}
.wcolor{
  color:white!important;
}
.top{
  margin-top:2%;
}
.title{
  font-family: 'Almendra SC';
font-size:26px;
}
.item{
font-family: Kotta One;
font-size:16px;
}
.item1{
font-family: Kotta One;
font-size:13px;
}
.top1{
  margin-top:2.8%;
}
#main a{
  /*color:white;*/
  text-decoration:none;
}
.quote{
  text-align: center;
font-size: 33px;
background: rgba(204, 204, 204, 0.22);

}
.top2{
  margin-top:14%;
}
.right{
  text-align:right;
}
.sf{
  font-size:14px;
  text-align:right;
}
.imgsize{
  width:100%;
  height:300px;
}
.imgsize1{
  width:100%;
  height:280px;
}
.imgsize2{
  width:100%;
  height:150px;
}
.padding{
  padding-top:1.9%;
  padding-bottom:1.9%;
}
.padding3{
  padding-top:1.9%;
  padding-bottom:3.9%;
}
.text{
  color: #5d5d5d;
line-height: 2;
font-size: 13px;
}
.text1{
  color: #5d5d5d;
line-height: 2;
font-size: 15px;
}
.drpcap p::first-letter {
    font-size: 200%;
    color: #8A2BE2;
    padding:0.6%;
}
.heading{
  font-family: 'Baumans';
  font-size:23px;
}
.heading1{
  font-family: 'Baumans';
  font-size:20px;
}
.fa-square{
  color:rebeccapurple;
  padding-right:1%;
}
.justify{
  text-align:justify;
}
.textcolor{
  color:#5d5d5d;
}
/*.height{
  height:350px;
}*/
.des{
  padding-left: 15px;
  padding-right: 15px;
  line-height: 24px;
  /* font-style: italic; */
  font-size: 14px;
  text-align: justify;
  font-family: almendra;
  /*position:fixed;*/
  line-height:1.9;
}

.devimg{
  width:100%;
  height:200px;
}
/*.top3{
  margin-top:11%;
}*/
.textcolor:hover{
box-shadow:1px 1px 0px 1px rgba(204, 204, 204, 0.5);
/*padding:1%;*/
}
.schemepic{
  width:100%;
  height:260px;
  border: 1px solid silver;
padding: 1%;
}
.schemeheading{
      font-family: 'Berkshire Swash';font-size:17px;
          color: #9d426b;
}
#icon{
  font-size:9px;
  color:#FF9800;
}
body{
  overflow-x:hidden;
}
tr{
  border-bottom: 1px dotted silver;
line-height: 3;
}
.backgrndclr{
  background:rgba(192, 192, 192, 0.25);
}
th{
  padding-left:1%;
}
td{
    padding-left:1%;
}
#home2{
  background:rgba(158, 158, 158, 0.15);
  height:500px;
}
.workshead{
    font-family: 'Abhaya Libre';
    font-size:18px;
}
.des1{
  font-family: 'Abhaya Libre';
font-size: 16px;
color: rgba(0,0,0,0.73);
line-height: 1.7;
}
.background{
background:white;
  height: 326px;
    padding: 5%;
}
.scrollup
{
  margin-top: 30%;
  position: fixed;
  display: none;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  padding: 1%;
  z-index: 20;
  background-color: rgba(17,17,17,0.75);
  margin-left: 3%;
  height: 37px;
  line-height: 0;
}
.scrollup:hover{

  background-color:#3c763d;
}
.footer {
    background-color: black;
    margin-right: -14px;
}
.color{
  color:white;
}
.padding1{
  padding:1%;
}
.size{
  font-size:12px;
}
.size1{
  font-size:10px;
}
td{
  border-right:1px solid silver;
}
th{
    border-right:1px solid silver;
}
a{
  color:inherit;
}
a:hover{
  color:inherit;
}
.headbrdr{
  border-bottom: 1px dotted silver;
  padding: 0.5%;
}
.acolor{
  color:#777;
}
